
 section{
            position: relative;
            width: 100%;
            padding: 0px 8% 20px;
        }
        header h1{
            color: #8e44ad;
            font-size: 2em;
            margin:30px 0px
        }
